.box{
    width: 400px;
    height: 100px;
    background-color: rgb(228, 191, 231);
    text-align: center;

    animation-name: coloranimation ;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
@keyframes fontanimation {
    from {
        font-size: 20px;
        
    }
    to {
        font-size: 50px;
    
    }
    
}

@keyframes coloranimation {
    from {
        background-color: rgb(228, 191, 231);
    }
    to {
        background-color: rgb(255, 0, 0);
    }
}