.container{
width: 600px;
height: 300px;
background-color: black;
display: grid inline;
grid-template-rows: repeat(4, 1fr);
grid-template-columns:repeat(2, 5fr); 
grid-gap: 10px;

}
.item{
width: 100px;
height: 50px;
background-color: lightblue;
border: 2px solid black;
text-align: center;
grid-column: 1 span 2;

}

#one{
grid-row: 1/span 5;
}