#navbar{
    height: 90px;
    width: 700px;
    background-color: lightpink;
    border: 3px solid red;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

#option{
    height: 50px;
    width: 80px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 50px;

    
}

#main{
    height: 400px;
    width: 400px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 5px solid lightgreen;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;


}
#Box{
    height: 100px;
    width: 100px;
    background-color: lightblue;
    border: 5px solid black;
    border-radius: 20px;
   font-size: 50px;
   text-align: center;
}