#container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
     
    align-items: center;
   


}

#orange{
    align-self: flex-end;
    flex-grow: 2;
    max-width: 300px;
    flex-shrink: 2;
}

h1{
    text-align: center;
}

#container div{
    height: 50px;
    width: 40px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}