div{
    height: 200px ;
    width: 500px;
    background-color: lightblue;
    border: 5px solid black;
    border-radius: 100px;
    padding-bottom: 50px;

}
h1{
    
    border: 2px solid rgb(211, 126, 126);

}
button{
    border: 2px solid black;
    border-radius: 10px;
    padding-left : 25px;
    padding-right : 25px;
    background-color: lightgreen;}