h1 {
   
    font-size: 44px;
    text-align: center;
    background-color: rgb(248, 174, 174);
    
    font-family:impact;
}




h2 {
    color: red;
    text-align: center;
    border: solid;
    width : 50%;
    


}

h3 {
    text-align: center;
    font-size: medium;
    text-decoration:  wavy underline blue;
}

button {
    background-color: #0000ff;
    font-size: 20px;
    color: white;
    text-align: center;

}

p {
    
    font-weight: 400;
}