section{
    margin-top: 100px;

}
.div
  {
    height: 50px;
    width:200px;
    background-color: greenyellow;
    text-align: center;
    margin: 10px auto;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    
    
}

div:nth-of-type(2n){
    background-color:pink;
}
div:nth-of-type(3n){
    background-color: lightblue;
}

/*Transform*/
#one{
    transform:rotate(45deg);
    
}
#two{
    transform: scale(0.5,1);
    transform: scaleX();
}
#box{
    box-shadow: 10px 10px 10px black;
    background-image:url(nature-image.jpg);
}

div{
    height: 400px;
    width: 400px;
    background-color: lightblue;
    margin: 10px auto;
    border: 1px solid black;
   background-image:url("nature-image.jpg") ;
}

#static{
    position: static;
    height: 100px;
    width: 100px;
    background-color: lightcoral;
    margin: 20px auto;
    border: 2px solid black;
}