.face{
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius: 50%;
}

.mouth{
    width: 200px;
    height: 100px;
    background-color: #eb0d0d;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;
    
}
.leye, .reye{
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}

.reye{
    left: 250px;
    
}
