#div{
    width: 200px;
    height: 200px;
    background-color: rgba(132, 255, 0, 0.9);
    position: relative;
    margin:  0 auto;
    transition-duration: 3s;
    transition-delay: 1s;
    transition : margin-top 2s ease-in 0.2s;

}

#div:hover{
    margin-top: 100px;
    background-color: black;
    border-radius: 50%;

}